$white:            #ffffff;

$light_blue:       #89bed1;
$medium_blue:      #3280b7;
$dark_blue:        #006ea3;
$mega_dark_blue:   #072E6A;

$super_light_grey: #f5f8fa;
$light_grey:       #e9ecf1;
$med_grey:         #6f7f84;
$dark_grey:        #495d63;

$red:              #ba2b53;

$blue_link:     $dark_blue;