.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #6f7f84;
    font-size: 16px;
    font-size: 4vmin;
    background-color: #f5f8fa !important;
    text-decoration: none;
}
